@media (min-width: 768px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    section {
        margin: 0;
    }

    header,
    footer {
        text-align: left;
        padding-left: 40px;
    }
}