@media screen and (min-width: 768px) {
    header nav ul {
        flex-direction: row;
        justify-content: center;
    }

    #members.grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    #members.list .member-card {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .member-card img {
        width: 100px;
        height: auto;
    }

    #hamburger {
        display: none;
    }

    #navMenu {
        display: block;
    }

    #navMenu ul {
        display: flex;
        justify-content: center;
        gap: 2rem;
    }

    #navMenu li a {
        text-decoration: none;
        color: #004466;
        font-weight: bold;
    }
}