body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    background: #030303;
    justify-content: space-between;
}
.header-top {
    display: flex;
    justify-content: space-between;
    font-size: 1.9rem;
    height: 100px;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
    background: #373737;
}

nav ul li a {
    color: rgb(216, 32, 32);
    padding: 1rem;
    display: block;
    text-decoration: none;
    background-color: #373737;
}

.view-toggle {
    margin: 1rem 0;
    text-align: center;
}

#members.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.member-card {
    border: 1px solid #ccc;
    padding: 1rem;
    background: #f9f9f9;
}

.hero {
    background-color: #ff6600;
    position: relative;
    text-align: center;
    color: white;
    height: 800px;
    /* object-fit: contain; */
}

.hero img {
    width: 100%;
    height: 800px;
    display: block;
    object-fit: cover;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-btns {
    margin-top: 1rem;
    background-color: #ccc;
}

.hero-btns button {
    margin: 0.5rem;
    padding: 0.75rem 1.5rem;
    background: #ff6600;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
}

.weather,
.forecast {
    background: #ffffff;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.weather h2,
.forecast h2 {
    color: #004466;
    margin-bottom: 0.5rem;
}

.weather ul,
.forecast ul {
    list-style: none;
    padding: 0;
}

.weather li,
.forecast li {
    margin: 0.25rem 0;
}

.events h2 {
    color: #004466;
    margin-bottom: 0.5rem;
}


nav ul.open {
    display: flex;
}

#hamburger {
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
}

/* Mobile-first */
#navMenu {
    display: none;
}

#navMenu.open {
    display: block;
}

#hamburger {
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    color: #004466;
}
@media screen and (min-width: 768px) {
    #hamburger {
        display: none;
    }

    #navMenu {
        display: block;
    }

    #navMenu ul {
        display: flex;
        gap: 2rem;
        justify-content: center;
    }
}