@media only screen and (min-width:60rem) {
  #hamburgerBtn {
    display: none;
  }

  .header-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 1rem;
    height: auto;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: transparent;
    padding-left: 20px;
  }

  nav {
    flex: 1;
  }

  nav ul {
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    width: 100%;
    padding-left: 0;
  }

  nav ul li a {
    border: none;
    padding: 1rem 1.5rem;
  }

  .main-section {
    flex-direction: row;
    
  }

  .container-About {
    flex: 2;

  }

  .photo-section {
    flex: 1;

  }

  .filter-buttons,
  .filters-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
  }

  .filter-buttons .btn,
  .filters-buttons .btn,
  .btn {
    flex: 1;
    margin: 0 10px;
    padding: 1.1rem 1.6rem;
    border-radius: 8px;
    font-size: 1.05rem;
  }
}